#state-legend {
    -fx-padding: 10;
}

#state-legend > Region, #transition-legend > Region {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#state-legend > Label, #transition-legend > Label {
    -fx-padding: 10px;
}

#transition-legend {
    -fx-padding: 10;
}
/**************************** STATE PICTURES *****************************************/

/* Image for the default state type */
#default-state {
    -fx-background-image: url("../img/legend/states/default-state.jpg");
}

/* Image for the secret state type */
#secret-state {
    -fx-background-image: url("../img/legend/states/secret-state.jpg");
}

/* Image for the bad state type */
#bad-state {
    -fx-background-image: url("../img/legend/states/bad-state.jpg");
}

/* Image for the bad/secret state type */
#secret-bad-state {
    -fx-background-image: url("../img/legend/states/secret-bad-state.jpg");
}

/* Image for the marked state type */
#marked-state {
    -fx-background-image: url("../img/legend/states/marked-state.jpg");
}

/**************************** TRANSITION PICTURES *****************************************/

/* Image for the default transition type */
#default-transition {
    -fx-background-image: url("../img/legend/transitions/default-transition.jpg");
}

/* Image for the unobservable transition type */
#unobservable-transition {
    -fx-background-image: url("../img/legend/transitions/unobservable-transition.jpg");
}

/* Image for the uncontrollable transition type */
#uncontrollable-transition {
    -fx-background-image: url("../img/legend/transitions/uncontrollable-transition.jpg");
}

/* Image for the unobservable and uncontrollable transition type */
#unobservable-uncontrollable-transition {
    -fx-background-image: url("../img/legend/transitions/unobservable-uncontrollable-transition.jpg");
}