.padded {
    -fx-padding: 10;
}

.modify-fsm-subpane, .operations-subpane {
    -fx-padding: 10px;
}

.section-header {
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-color: #AAFFFF;
}

.subpane-section-title {
    -fx-font-size: 16px;
    -fx-padding: 10px 0 10px 0;
    -fx-font-weight: bold;
}

/* Used for the titled of accordion panes */
.title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Used for the buttons */
.button {
    /*-fx-color: #AAFFFF;*/
}

/* Used for the images for the content pane */
.img-btn {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#zoom-in-btn {
    -fx-background-image: url("../img/zoom_in.png");
}

#zoom-out-btn {
    -fx-background-image: url("../img/zoom_out.png");
}

#help-btn {
    -fx-background-image: url("../img/help.png");
}